Repository ClearGDPR/ClearGDPR, pull requests merged in 2018-08, with the labels that each got.

#411 Add API doc
  api.md
Labels: api, docs

#415 Hide approve button when request is approved
  admin/src/components/Rectifications/Details.js
  admin/src/components/Rectifications/Details.test.js
  admin/src/components/Rectifications/__snapshots__/Details.test.js.snap
Labels: admin

#444 Elements SDK Docs
  packages/elements/DOCS.md
  packages/elements/REFERENCE.md
  packages/js-sdk/README.md
Labels: docs, element-sdk
