Repository ClearGDPR/ClearGDPR, pull requests merged in 2018-06, with the labels that each got.

#94 Fix graphCard component layout and chart responsiveness
  admin-design/src/components/dashboard/GraphCard.js
  admin-design/src/pages/dashboard.css
Labels: UX/UI, frontend

#92 Updated title of demo application and size of the logo
  frontend/public/index.html
  frontend/src/containers/App.js
Labels: frontend

#95 Added a named volume for postgres service
  docker-compose.yml
Labels: devops

#118 Removed .env files for frontend
  docker-compose.yml
  frontend/.env.example
  frontend/src/config.js
  setup.js
Labels: frontend

#112 erase-data bug fix
  cg/src/domains/subjects/subjects.service.js
  cg/test/management/processors.api.spec.js
  cg/test/management/stats.api.spec.js
  cg/test/management/subjects.api.spec.js
  cg/test/subjects/subjects.api.spec.js
Labels: api, bug

#128 Updated app favicons
  admin/public/favicon.ico
  admin/public/favicon.png
  admin/public/index.html
  frontend/public/favicon.ico
  frontend/public/favicon.png
  frontend/public/index.html
Labels: frontend

#132 Add endpoint to list managers and tests for it
  cg/src/domains/management/management.routes.js
  cg/src/domains/management/users/users.controller.js
  cg/src/domains/management/users/users.helpers.js
  cg/src/domains/management/users/users.service.js
  cg/test/management/users.api.spec.js
Labels: api

#220 Added HOCs to wrap elements in context providers
  admin/src/containers/MainLayout/MainLayout.js
Labels: frontend

#216 Added proptypes to kitchen sink
  admin/src/components/core/cards/dashboard/ChartCard.js
  admin/src/components/core/cards/dashboard/GraphBar.js
  admin/src/components/core/cards/dashboard/GraphCard.js
  admin/src/components/core/cards/dashboard/Icon.js
  admin/src/components/core/cards/dashboard/ItemsCard.js
  admin/src/components/core/cards/dashboard/NumberCard.js
  admin/src/components/core/cards/dashboard/Overview.js
  admin/src/components/core/cards/dashboard/ProcessorCard.js
  admin/src/components/core/cards/dashboard/Processors.js
  admin/src/components/core/cards/dashboard/Sidenav.js
  admin/src/components/core/cards/dashboard/TableCard.js
Labels: frontend
